body{

    background-color:yellow;

    background-image: -moz-linear-gradient(90deg, white 0%, #172dad 100%);

}



.button {

    background-color: rgb(8, 8, 8);
    color: whitesmoke;

    width: 160px;

    height: 30px;

    border-radius: 12px;

    border-color: red;

}



.button2 {

    background-color:black;
    color: whitesmoke;

    width: 160px;

    height: 40px;

    border-radius: 40px;

    border-color: red;
}
.button3 {

        background-color: white;
    
        width: 160px;
    
        height: 40px;
    
        border-radius: 40px;
    
        border-color: red;

}
.countdisplay {
    text-emphasis-color: orange;
}